<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">


 {% load staticfiles %}
    <link href="{% static 'css/login.css'%}" rel="stylesheet" type="text/css" />


</head>
<body>
<div id="sky"></div>
<div id="head"></div>
<div id="middle">
<form action="register" method="post">
<ul style="text-align: center;">
<li style="font-size: 48px">五子棋游戏对战平台</li>
{% csrf_token %}    
<li><input type="text" class="name" name="username" placeholder="请输入用户名"></li>
<li><input type="password" name="password" class="pwd" placeholder="请输入密码"></li>
<li><button type="submit" id="login">立即注册</button></li>
</form>
<li><span style="color:red">{{mes}}</span></li>
			
					

</ul>

</div>
<div id="footer">


</div>
<div id="cloud"></div>

{% load staticfiles %}
<script src="{% static 'public/media/js/jquery-1.10.1.min.js'%}" type="text/javascript"></script>
 <script language='javascript' type='text/javascript'>
  $(document).ready(function() {
            init();
          
 });
        
     
function init(){

   $(".name,.pwd,#valid").keyup(function(event){
                if( event.keyCode==13 )
                {
                    $('#login').click();
                }
                
      });
     
}        
 
 </script>


</body>
</html>